@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 375px;
}

header {
  /* display: flex; */
  justify-content: space-between;

  /* align-items: center; */

  /* height: 48px; */
  position: fixed;
}

.navbar-logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  padding-right: 220px;
  padding-left: 35px;
}

/* .header-nav {
  display: none;
} */

/* .opened {
  display: block;
  position: fixed;
} */

section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 114px 24px;
  gap: 12px;
}

ul {
  list-style: none;
}

.headline {
  background-image: url("image/header-shapes-mobile.png");
  border-bottom-left-radius: 60px;
  background-color: white;
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  color: #091e42;

  /* transition: ease-in-out transform 0.5; */

  transform: translate(0);
}

.title:hover {
  transform: rotateY(45deg);
}

/* .works img {
  transition: ease-in-out transform 0.5;
} */

.works img:hover {
  transform: scale(1.2);
}

.details {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.contact-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.social-media {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 20px;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-height: 2788px;
  top: 718px;
  padding: 114px 24px;
  gap: 88px;
  align-items: center;
}

.card-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.left-block,
.project-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
}

.tonic-img-desctop {
  display: none;
}

.project-title {
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 44px;
  color: #172b4d;
}

.header-details {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.header-details .client {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #172b4d;
}

.header-details .role,
.header-details .year {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

.project-details {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  width: 96%;
}

.tags {
  display: flex;
  gap: 8px;
  align-items: center;
}

.tags .tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

/* commen class and 1st conitainer of works section endes */

/* second coinatiner of works class startes here */

.card-work-desktop-2 {
  display: none;
}

.card-work-desktop-3 {
  display: none;
}

/* 4th scontainer of works section  startes here */

.card-work-desktop-4 {
  display: none;
}

.action {
  padding: 12px 0;
}

.project-button {
  width: fit-content;
  padding: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  font-style: normal;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: transparent;
  color: #396df2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.project-button:hover {
  background: #6070ff;
  color: #fff;
}

.headline-2 {
  background-image: none;
  border-bottom-left-radius: 60px;
  display: grid;
  gap: 24px;
  margin-top: -100px;
  border-top-right-radius: 60px;
}

.title-about {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.details-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  letter-spacing: 0.37px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.contact-title-2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.social-media-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 20px;
}

.skill-list {
  padding: 12px;
  padding-left: 1px;
}

.skill-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 20px;
}

.btn-chev {
  border: none;
  outline: none;
  padding: 8px;
  background: transparent;

  /* cursor: pointer; */
}

.language-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.language-list li {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
}

.separator-line {
  height: 1px;
  background: #dfe1e6;
}

.skill-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 12px;
}

/* contacte for startes here */

.contacte-me {
  background-color: #6070ff;
  background-image: url("image/contact-form-shapes-mobile.png");
  background-position: 150px 15px;
  background-repeat: no-repeat;
  border-top-left-radius: 60px;
  height: 779px;
  width: 100%;
}

.title-2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 28px;
  text-align: center;
  color: #fffefe;

  /* transition: ease-in-out transform 0.5; */
}

.project-text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  width: 100%;
  color: #ffff;
  margin-bottom: 5px;
  margin-top: 10px;

  /* transition: ease-out 0.5 transform; */

  transition-delay: 0.2s;
}

.contacte-form {
  margin-top: 10px;
}

.contacte-form input,
.contacte-form textarea {
  width: 100%;
  border: 1px solid rgb(255, 254, 254);
  border-radius: 8px;
  font-weight: 400;
  line-height: 20px;
  font-size: 17px;
  margin: 10px auto;
  gap: 10px;
  outline: none;
}

.contacte-form textarea {
  height: 170px;
}

.contacte-form input {
  height: 48px;
}

.btn-default {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #ffff;
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.btn-default:hover {
  background: transparent;
  color: #fff;
  transform: rotateY(45deg);
}

/* mediaquri part */

@media (min-width: 768px) {
  .wrapper {
    width: 100%;
    align-items: center;
    max-height: 5125px;
    background: #f8f7f7;
  }

  header {
    height: 72px;
    width: 100%;
  }

  .navbar-logo {
    font-style: normal;
    padding: 20px;
    padding-left: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    color: #5e70f4;
    width: 250px;
  }

  .navbar-item {
    margin: 0.2em;
    color: rgb(0, 0, 0);
    width: 100%;
  }

  .btn-1 {
    display: none;
  }

  .navbar-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 12px;
    padding-right: 150px;
  }

  .image-des {
    display: none;
  }

  .mobile-nav-toggle {
    display: none;
  }

  section {
    display: grid;
    grid-template-rows: 1fr;
    padding: 114px 24px;
    gap: 12px;
  }

  .headline {
    height: 916px;
    border-bottom-left-radius: 60px;
    background-repeat: no-repeat;
    background-image: url("image/desiktop-images/Header-big-back.png");
    background-size: 100%;
    background-position: 50% 50%;
  }

  .left-box-about-myself {
    width: 40%;
    padding-left: 9%;
  }

  .right-box-of-about-myself {
    width: 50%;
  }

  .title {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.37px;
    margin-left: 13%;
    padding-top: 13%;
    line-height: 52px;
    color: #172b4d;

    /* transition: ease-in-out transform 0.5; */
  }

  /* .works img {
    transition: ease-in-out transform 0.5;
  } */

  .works img:hover {
    transform: scale(1.2);
  }

  .title:hover {
    transform: rotateY(45deg);
  }

  .contact-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0d24f6;
    text-decoration: none;
    padding-left: 13%;
  }

  .social-media {
    text-decoration: none;
    list-style: none;
    gap: 20px;
    padding-left: 13%;
    margin-bottom: 300px;
  }

  .works {
    display: grid;
    grid-template-columns: 1fr;
    width: 72.25em;
    max-height: 2788px;
    top: 718px;
    align-items: center;
    gap: 142px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 14px;
    padding-right: 14px;
  }

  .tonic-img {
    display: none;
  }

  .tonic-img-desctop {
    display: block;
    width: 50%;
    height: auto;
  }

  .card-work {
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: space-around;
    background-color: #fff;
  }

  .left-block {
    background-color: #fff;

    /* height: 97%; */
    padding-left: 5%;
    padding-top: 5%;
    height: 445px;
  }

  .right-block {
    display: flex;
    align-items: center;
    justify-content: stretch;
    height: 50%;
  }

  .mobile-vertion-for-conitainer-3-of-works {
    display: none;
  }

  .card-work-desktop-3 {
    display: flex;
    justify-content: center;
  }

  .container-img-big {
    width: 100%;
    height: auto;
  }

  .image-curser {
    padding-right: 100px;
  }

  .mobile-vertio-container-4 {
    display: none;
  }

  .card-work-desktop-4 {
    display: flex;
    height: auto;
    width: 98%;
  }

  .card-work-desktop {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .language-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 12px;
    background: #f7f7f9;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .details {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #344563;
    max-width: 920px;
    margin-left: 13%;
  }

  /* 3rd container of works section startes here */

  .cointiner-for-mobile-2 {
    display: none;
  }

  .card-work-desktop-2 {
    display: flex;
  }

  .headline-2 {
    background-image: none;
    max-height: 916px;
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: space-around;
    background-color: white;
    border-top-right-radius: 60px;
  }

  .title-about {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
  }

  .contact-title-2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-decoration: none;
    padding-left: 1%;
  }

  .social-media-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .language-list {
    display: flex;
    flex-direction: row;
    gap: 3%;
  }

  .contacte-me {
    background-color: #6070ff;
    background-image: url("image/desiktop-images/contact-form-background-shapes.png");
    background-position: 100px 60px;
    background-repeat: no-repeat;
    border-top-left-radius: 60px;
    height: 846px;
    width: 100%;
    background-size: 85%;
  }

  .contact-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    gap: 24px;
    width: 550px;
    height: 577px;
  }

  .btn-default {
    margin-left: 38%;
  }
}

.container {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  /* navbar-height: 64px; */
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-item {
  margin: 0.2em;
  color: white;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  z-index: 9999;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: blue;
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: blue;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
  background-color: rgb(245, 245, 245);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
  background-color: rgb(245, 239, 239);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;

  /* padding-left: 65em; */
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  width: 102vw;
  height: 102vh;
  background: rgba(8, 96, 228, 0.684);
  mix-blend-mode: multiply;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0.1px;
  left: 0.1px;
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 2.5rem;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

@media screen and (min-width: 768px) {
  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
    padding-right: 70px;
  }

  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    display: none;
  }

  #navbar-toggle[aria-expanded="false"] + #navbar-menu {
    display: block;
  }

  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-toggle[aria-expanded="false"] + #navbar-item {
    margin: 0.2em;
    color: rgb(7, 7, 7);
    width: 100%;
    display: block;
  }

  .navbar-item {
    margin: 0.2em;
    color: rgb(7, 7, 7);
    width: 100%;
    display: block;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
  }
}
